<div class="container">
    <div class="row  justify-content-center">
        <button class="btn btn-outline-primary" ng-click="$ctrl.modView(0,true)">Liste</button>
        <button class="btn btn-outline-primary" ng-click="$ctrl.modView(2,false)">Petites icones</button>
        <button class="btn btn-outline-primary" ng-click="$ctrl.modView(4,false)">moyennes icones</button>
        <button class="btn btn-outline-primary" ng-click="$ctrl.modView(12,false)">Grandes icones</button>
    </div>
</div>



<div class="container-fluid">

    <!-- liste -->
    <ul ng-show="$ctrl.listView">
        <li ng-repeat="image in $ctrl.images">
            <a href="#!/{{image.name}}">
                <p>
                    <img ng-src="{{image.url}}" alt="{{image.name}}">
                    {{image.name}}
                </p>
            </a>
        </li>
    </ul>
    <!-- non liste -->
    <div class="row" ng-show="!$ctrl.listView">
        <div class="col-{{$ctrl.col}}" ng-repeat="image in $ctrl.images">
            <a href="#!/{{image.name}}">
                <img ng-src="{{image.url}}" alt="{{image.name}}">
            </a>
        </div>
    </div>
</div>