<link rel="stylesheet" href="/app/boundaries/views/menu/menu.css">

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-primary">Upload</button>
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" ng-click="location('upload')">Upload Files</a>
            <a class="dropdown-item">Manage</a>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" ng-click="location('galerie/medium')">Galery</button>