<link rel="stylesheet" href="view/components/select-bar/select-bar.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarColor03">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <span class="btn btn-primary btn-file">
                    <i class="fas fa-camera"><input type="file" class="inputFile" capture="environment"></i>
                </span>
            </li>
        </ul>

        <ul class="navbar-nav center">            
            <li class="nav-item">
                <span class="btn btn-outline-primary btn-file" id="dragDropUpload">
                    <i class="fas fa-file-upload"><input type="file" class=" inputFile" multiple ></i>
                </span>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="btn btn-outline-primary" href="#!/galerie/list"><i class="fas fa-list"></i></a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-primary" href="#!/galerie/small"><i class="fas fa-th"></i></a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-primary" href="#!/galerie/medium"><i class="fas fa-th-large"></i></a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-primary" href="#!/galerie/large"><i class="fas fa-square"></i></a>
            </li>
        </ul>

    </div>
</nav>