html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

side-menu {
    width: 60px;
}

#view {
    flex: 1;
    height: 100%;
}

.hidden {
    display: none;
}

.fas, .far {
    cursor: pointer;
}