<link rel="stylesheet" href="view/pages/upload/upload.css">

<navbar-upload></navbar-upload>

<div id="uploadContent">
    <div id="nav">
        <ul>
            <li id="test"><a href="#!/upload/upload"><i class="far fa-folder"></i>Upload</a></li>
            <li><a href="#!/upload/traitements"><i class="far fa-folder"></i>Traitements</a></li>
        </ul>
    </div>

    <!--<ul id="filesUpload">
        <li ng-repeat="file in files">
            <p>
                <img src="{{file.src}}">
                {{file.name}}
                {{file.size}}
                {{file.type}}
                {{file.date | date:'dd-MM-yyyy HH:mm:ss'}}
            </p>
        </li>
    </ul>-->
    <table ng-if="files.length>0" class="table table-hover" id="filesUpload">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Nom</th>
                <th scope="col">Taille</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>

            <tr class="table-dark" ng-repeat="file in files">
                <td scope="row"><img src="{{file.src}}"></td>
                <td> {{file.name}}</td>
                <td>{{file.size}}</td>
                <td>{{file.date | date:'dd-MM-yyyy HH:mm:ss'}}</td>
            </tr>
        </tbody>
    </table>
</div>