/*
contenu
*/

#manage-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

/*
zone de sélection
*/

#folder {
    flex: 0.2;
    z-index: 10;
}

#folder button {
    margin: 5px;
}

/*
affichage contenu
*/

#content {
    flex: 1
}

.fas, .far {
    cursor: pointer;
}



/*
autre
*/

#empty, #error {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}


#content-cards {
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
}

#content-cards img{
    height: auto;
    width: auto;    
    max-height: 200px;
    display: block
}

#comment {
    position: absolute;
    z-index: 998;
    right: 30px;
    top: 30px;
}

.selected{
    background : #3AA2E5
}

.col-4{
    padding:10px;
   
}

#img-drop{

    display: block;
    width: 40px;
    height: 40px;  
   
 

}

.cloneImgDrop{
    position:absolute;
    z-index: 999;
    width: 150px
   
}

#close-com-card{
   position: absolute;
    top:0;
    right: 0;
}

#drag-drop-icon{
    font-size: 2em;
    position: absolute;
    bottom:0;
    right: 0;
}