/*
contenu
*/

#manage-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

/*
zone de sélection
*/

#folder {
    flex: 0.2;
}

#folder button {
    margin: 5px;
}

/*
affichage contenu
*/

#content {
    flex: 1
}

.fas, .far {
    cursor: pointer;
}

/*
autre
*/

#empty {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

.clone-img-drag img {
    width: 100px;
    height: 80px;
    z-index: 999;
}

#content-cards {
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
}