<link rel="stylesheet" href="/app/views/views/manage/manage.css">

<div id="manage-container">

    <div id="folder">
        <div class="btn-group-vertical" data-toggle="buttons">
            <button type="button" class="btn btn-primary" ng-repeat="folder in $ctrl.storage"
                ng-click="$ctrl.openFolder(folder,$index)">
                <i ng-class="{true: 'far fa-folder-open', false: 'far fa-folder'}[$ctrl.indexActif == $index+1]">
                    {{folder.dateUpload}}
                </i>
            </button>
        </div>
    </div>



    <div id="content" ng-if="$ctrl.storage.length>0">


        <div class="container-fluid" id="content-cards">
            <div class="row">
                <div class="col-4" ng-repeat="data in $ctrl.datas">
                    <div class="card mb-3">
                        <h3 class="card-header">{{data.name}}</h3>
                        <img ng-src="{{data.src}}" alt="Card image">
                        <div class="card-body">
                            <p class="card-text">Date Upload: {{data.dateUpload | date:'dd-MM-yyyy HH:mm:ss'}}</p>
                            <p class="card-text">Taille: {{data.size}} bytes</p>
                            <p class="card-text">Type: {{data.type}}</p>
                        </div>
                        <div class="card-footer text-muted">
                            <span class="btn btn-outline-danger"
                                ng-click="$event.preventDefault();$ctrl.deleteElement(data)">
                                <i class="far fa-trash-alt"></i>
                            </span>
                            <span class="btn btn-outline-info" ng-click="$ctrl.showComment(data.comment)">
                                <i ng-class="(data.comment.length>0)? 'fas fa-ellipsis-v' : 'fas fa-plus' "></i>
                            </span>

                            <i class="fas fa-expand-arrows-alt draggable" id="drag-drop-icon"
                                ng-mousedown="$ctrl.startDrag(data)"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="empty" ng-if="$ctrl.storage.length==0 && $ctrl.error == ''">
        <h1>Fichier Vide</h1>
    </div>

    <div id="error" class="hidden">
        <h1>{{$ctrl.error}}</h1>
    </div>


    <div class="card mb-3 hidden" id="comment">
        <i class="fas fa-times" id="close-com-card" ng-click="$ctrl.closeComCard()"></i>
        <h3 class="card-header">Commentaires</h3>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" ng-repeat="com in $ctrl.comment">{{com}}</li>
        </ul>
        <div class="card-footer text-muted">
            <textarea class="form-control" id="exampleTextarea" rows="3" ng-model="$ctrl.newCom"></textarea>
            <i class="fas fa-plus-circle" ng-click="$ctrl.addNewCom()"></i>
        </div>
    </div>
</div>