<link rel="stylesheet" href="/app/views/components/side-menu/side-menu.css">


<div class="area"></div><nav class="main-menu">
    <ul>
        <li>
            <a href="#!/">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Dashboard
                </span>
            </a>
          
        </li>
        <li class="has-subnav">
            <a href="#!/upload">
                <i class="fas fa-upload fa-2x"></i>
                <span class="nav-text">
                    Upload
                </span>
            </a>            
        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fas fa-mobile-alt fa-2x"></i>
                <span class="nav-text">
                    Version mobile
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a href="#!/manage">
                <i class="fas fa-file-download fa-2x"></i>
                <span class="nav-text">
                    Gestion fichiers Upload
                </span>
            </a>
           
        </li>
        <li>
            <a href="#!/galerie/medium">
                <i class="far fa-images fa-2x"></i>
                <span class="nav-text">
                    Galerie
                </span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
           <a href="#">
                 <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>  
    </ul>
</nav>