<link rel="stylesheet" href="/app/views/components/gal-list/gal-list.css">


<table class="table table-hover" id="filesUpload">
    <thead>
        <tr class="table-dark">
            <th scope="col">Image</th>
            <th scope="col" class="sort" ng-click="sortBy('name')">Nom
                <span class="sortorder" ng-show="$ctrl.filterName === 'name'"
                    ng-class="{reverse: $ctrl.reverse}"></span>
            </th>
            <th scope="col" class="sort" ng-click="sortBy('size')">Taille
                <span class="sortorder" ng-show="$ctrl.filterName === 'size'"
                    ng-class="{reverse: $ctrl.reverse}"></span>
            </th>
            <th scope="col" class="sort" ng-click="sortBy('date')">Date d'ajout
                <span class="sortorder" ng-show="$ctrl.filterName === 'date'"
                    ng-class="{reverse: $ctrl.reverse}"></span>
            </th>

        </tr>
    </thead>
    <tbody>
        <tr class="table-light" ng-repeat="image in $ctrl.images | orderBy : $ctrl.filterName : $ctrl.reverse">
            <td scope="row"><img ng-src="{{image.src}}"></td>
            <td>{{image.name}}</td>
            <td>{{image.size}}</td>
            <td>{{image.date | date:'dd-MM-yyyy HH:mm:ss'}}</td>
        </tr>
    </tbody>

</table>