#upload-files-content{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%
 }



/*
Nav-bar
*/

.navbar {
    height: 60px;
    padding: 10px
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

#dragDropUpload {
    width: 300px;
}

.styleDragDrop {
    background-color: #FFFFFF;
    border: #FFFFFF
}

/*
Progress-bar
*/

.progress {
    height: 20px;
}

.hidden {
    display: none;
}

/*
table
*/

/*#filesUpload img {
    width: 100px;
    height: 80px;
}

tbody {
    display: block;
    height: 600px;
    overflow-y: auto;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead {
    width: calc( 100% - 1em)
}

#test {
    height: 20px;
}*/

table {
    flex:1;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 100%;
    padding: 10px;    
}

thead {
    height: 50px;
    width: 100%;
}

img {
    width: 100px;
    height: 80px;
}

tr {
    width: 100%;
    display: flex;
    flex-direction: row;
}

th, td {
    flex: 1;
}

tbody {
    flex: 1;
    overflow: auto;
}

.fas,.far {
    cursor: pointer;
}

.test {
    background-color: #FFFFFF
}

.fa-check, .fa-times {
    font-size: 2em;
    margin-right: 10px
}

.fa-check {
    color: #57C66C;
}

.fa-times {
    color: #F0615B
}

.form-group{
    height:60px
}