<link rel="stylesheet" href="/app/views/components/select-bar/select-bar.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarColor03">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="btn btn-outline-primary" href="#!/galerie/list"><i class="fas fa-list"></i></a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-primary" href="#!/galerie/small"><i class="fas fa-th"></i></a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-primary" href="#!/galerie/medium"><i class="fas fa-th-large"></i></a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-primary" href="#!/galerie/large"><i class="fas fa-square"></i></a>
            </li>
        </ul>

    </div>
</nav>