<link rel="stylesheet" href="/app/boundaries/views/upload/upload.css">

<upload-preview  ng-if="$ctrl.files.length > 0"></upload-preview>


<!--Zone upload visible uniquement lors de la selection des fichiers-->
<form ng-show="$ctrl.files.length == 0" id="form-input-files" class="style-drag-drop">
    <input type="file" accept=".jpg, .jpeg, .png, .gif" multiple id="input-files">
    <i class="fas fa-cloud-upload-alt"></i>
    <p>Cliquer sur la zone ou drag and drop les fichiers</p>
</form>
<!--repère visuel de l'évolution du chargement-->
<div id="counter-files-upload" ng-if="$ctrl.visible">
    <h1>{{$ctrl.count}}/{{$ctrl.numberOfUploadFiles}}</h1><i class="far fa-images"></i>
</div>
