<link rel="stylesheet" href="/app/boundaries/views/upload/upload.css">

<div ng-if="$ctrl.files.length > 0" id="#upload-files-content">

    <!--Ecran de validation des fichiers uploadés-->
    <!--Liste des fichiers uploadé-->
    <table class="table table-hover" id="filesUpload">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Nom</th>
                <th scope="col">Taille</th>
                <th scope="col">Type</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-dark" ng-repeat="file in $ctrl.files">
                <td scope="row"><img ng-src="{{file.src}}"></td>
                <td>{{file.name}}</td>
                <td>{{file.size}}</td>
                <td>{{file.type}}</td>
                <td id="container-icon-upload">
                    <i class="far fa-trash-alt icon-upload" ng-click="$ctrl.removeElt($index)"></i>
                    <i class="fas fa-pen-square icon-upload" ng-click="$ctrl.openInputCom(file)"></i>
                </td>
            </tr>
        </tbody>

    </table>

    <!--Zone de validation-->
    <div id="validation-upload">
        <!--Commentaire global-->
        <label for="com">Commentaires</label>
        <input type="text" class="form-control" id="com" ng-model="$ctrl.globalComment">

        <i class="fas fa-check" ng-click="$ctrl.save()"></i>
        <i class="fas fa-times" ng-click="$ctrl.removeAll()"></i>
    </div>

</div>

<!--Zone upload visible uniquement lors de la selection des fichiers-->
<form ng-show="$ctrl.files.length == 0" id="form-input-files" class="style-drag-drop">
    <input type="file" accept=".jpg, .jpeg, .png, .gif" multiple id="input-files">
    <i class="fas fa-cloud-upload-alt"></i>
    <p>Cliquer sur la zone ou drag and drop les fichiers</p>
</form>

<!--Fenetre de commentaire-->
<div class="card text-white bg-dark mb-3 hidden" style="max-width: 20rem;" id="private-com-input">
    <div class="card-header">Ajouter un commentaire:</div>
    <div class="card-body">
        <textarea class="form-control" id="exampleTextarea" rows="3" ng-model="$ctrl.privateComment"></textarea>
    </div>
    <div class="card-footer footer-input">
        <button type="button" class="btn btn-primary" ng-click="$ctrl.addCom()">Ajouter</button>
        <button type="button" class="btn btn-secondary" ng-click="$ctrl.cancelCom()">Fermer</button>
    </div>
</div>

<!--repère visuel de l'évolution du chargement-->
<div id="counter-files-upload" ng-if="$ctrl.visible">
    <h1>{{$ctrl.count}}/{{$ctrl.numberOfUploadFiles}}</h1><i class="far fa-images"></i>
</div>