/*
#filesUpload {
    flex: 7;
    height: 100%;
}

#filesUpload img {
    width: 100px;
    height: 80px;
}

tbody {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}*/

#uploadContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

#nav {
    width: 175px;
    height: 100%;
    margin-right: 5px;
}

#nav ul {
   
    position: relative;    
    top: 50%;  
    
    
}

upload-files {
    flex: 1;
}