#upload-files-content {
    width: 100%;
    max-height: 100%
}

table {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: calc(100vh - 150px);
    padding: 10px;
}

thead {
    height: 50px;
    width: 100%;
}

img {
    width: 100px;
    height: 80px;
}

tr {
    width: 100%;
    display: flex;
    flex-direction: row;
}

th, td {
    flex: 1;
}

tbody {
    flex: 1;
    overflow: auto;
}

#container-icon-upload {
    display: flex;
    flex-direction: row
}

.icon-upload {
    font-size: 2em;
    flex: 1
}

#validation-upload {
    height: 150px;
}

.fa-check, .fa-times {
    font-size: 2em;
    margin-right: 10px
}

.fa-check {
    color: #57C66C;
}

.fa-times {
    color: #F0615B
}

#counter-files-upload {
    position: absolute;
    width: 10%;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

#counter-files-upload * {
    flex: 1
}

#counter-files-upload i {
    font-size: 5em;
}

#private-com-input {
    position: absolute;
    z-index: 900;
}

.footer-input {
    display: flex;
    flex-direction: row;
}

.footer-input button {
    flex: 1
}

.fas {
    cursor: pointer;
}

#form-input-files {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -400px;
    width: 800px;
    height: 400px;
}

.style-drag-drop {
    border: 4px dashed #000;
}

#form-input-files p {
    width: 100%;
    height: 50%;
    text-align: center;
    line-height: 170px;
    color: #000;
    font-family: Arial;
}

#form-input-files i {
    font-size: 5em;
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 0.5em
}

#form-input-files input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
}

#form-input-files button:active {
    border: 0;
}